<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stock Analyzer</title>
</head>
<body>
    <h1>Stock Analyzer</h1>
    <form method="post">
        <label for="symbol">Enter Stock Symbol:</label>
        <input type="text" name="symbol" id="symbol" value="{{ symbol }}">
        <button type="submit">Analyze</button>
    </form>


    {% if signal %}
        <h2>Signal: {{ signal }}</h2>
        <img src="{{ url_for('static', filename='output.png') }}" width="800">
        <form action = "/" method="get">
            <button type="submit">Go back</button>
        </form>
    {% endif %}
</body>
<form action="/recommend" method="get">
    <button type="submit">View Recommended Stocks</button>
</form>
</html>
